*.large.* filter=lfs diff=lfs merge=lfs -text
*.md !filter !diff !merge text
*.pro !filter !diff !merge text
*.lay6 !filter !diff !merge text
*.spl7 !filter !diff !merge text
/controllers/** filter=lfs diff=lfs merge=lfs -text
*.txt !filter !diff !merge text
/research/** filter=lfs diff=lfs merge=lfs -text
